    <!-- Header -->
    {% assign s = site.data.strings['header'] %}
    <header>
        <div class="container">
            <div class="row">
            <div class="intro-text col-md-6">
                <div class="intro-heading">{{ s.short_mission }}</div>
                <div class="button-container">
                    <a href="https://luma.com/mkpjapan?tag=on-line" target="_blank" class="page-scroll btn btn-xl">
                        {{ s.join_button }}</a>
                    <div class="intro-subtext">{{s.on_line_meeting_details}}</div>
                    <a href="https://luma.com/mkpjapan?tag=in-person" target="_blank" class="page-scroll btn btn-xl">
                    {{ s.join_live_button }}</a>
                    <div class="intro-subtext">{{s.in_person_meetings_details}}</div>
                </div>
            </div>
        </div>
    </header>

