    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
            <div class="intro-text col-md-6">
                <div class="intro-heading">
                        <h2>Supporting Men’s Growth and Connection</h2>
                    <div class="hidden-xs">
Welcome to Mankind Project Japan, a community dedicated to providing
support and fostering personal growth for men. Our weekly online gatherings
create a safe and empowering space for men to connect, share, and learn
from one another.
                    </div>
                </div>
                <a href="{{ '/#join' | prepend: site.baseurl }}" class="page-scroll btn btn-xl" style="margin:5px">Join Our Online Group!</a>
                <div class="intro-subtext">First Tuesday of the Month, 7pm JST</div>
            </div>
        </div>
    </header>

