---
layout: default
---

<section class="hero is-dark has-background-dark has-text-light is-large">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
	{% include menu.html %}
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-left has-text-white">
      <p class="title has-text-white">
        Title
      </p>
      <p class="subtitle">
        Subtitle
      </p>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
   
  </div>
</section>
